<head>
  <title>Afghan Proverbs</title>
  <link rel="stylesheet" href="/styles.css">
 
</head>
 <link href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap" rel="stylesheet">
<style>
  .dari, .pashto {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 1.1rem;
    direction: rtl;
    text-align: right;
  }
</style>

